* {
  box-sizing:border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  background: rgb(227,119,9);
  background: linear-gradient(270deg, rgba(227,119,9,1) 0%, rgba(239,124,8,1) 35%, rgba(248,151,63,1) 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1em 2em;
  height: 850px;
  width: 1350px;
  /* max-width: 1350px; */
  background-color: #fff;


}

main{
  background-color: #fff;
}

aside{
  background-color: #E37709;
  /* max-width: 290px; */
  max-width: 290px;
  min-width: 200px;
  height: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.background2{
  background: rgb(71,122,129);
  background: linear-gradient(270deg, rgba(71,122,129,1) 0%, rgba(138,183,189,1) 28%, rgba(166,199,204,1) 100%); 
}

.background3{
  background: rgb(0,143,111);
  background: linear-gradient(270deg, rgba(0,143,111,1) 0%, rgba(104,185,139,1) 28%, rgba(132,202,159,1) 100%); 
}

img {
  width:10em;
  border-radius:18em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  top:2rem;
  transition:.25s .15s;
}
h1{
  margin: 0;
  font-size: 80px;
  line-height: 1;
}